@use 'variables' as *;

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-content {
  grid-area: main;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  height: 100%;
}

app-header {
  grid-area: header;
  width: 100%;
}

app-footer {
  grid-area: footer;
  width: 100%;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 1fr 1fr 1fr 1fr auto;

  grid-template-areas:
    'header header header header'
    'nav nav nav nav'
    'main main main news'
    'main main main news'
    'main main main news'
    'main main main news'
    'footer footer footer footer';
  height: 100vh;
  background: transparent;
}
