$color-background-dark: rgb(18,18,18) !default;

$color-background-light: #f9f9f9 !default;
$color-text: #eaeaea !default;
$color-accent: #ff4a00 !default;

$spacing-small: 0.5rem !default;
$spacing-medium: 1rem !default;
$spacing-large: 2rem !default;