@use 'variables' as *;

:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: $color-background-dark;
  position: sticky;
  top: 0;
  z-index: 100;
}

app-nav {
  display: block;
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 768px) {
  app-nav {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  :host {
    padding: 1rem 3rem;
  }
}
